* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
.main {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, green, aqua, orange, pink);
  overflow: hidden;
}
.line1 {
  display: flex;
  animation: anim 1s linear infinite;
  width: 100vw;
}
@keyframes anim {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(50px);
  }
}

.child {
  height: 50px;
  width: 50px;
  background-color: #000000;
  margin: 2px;
}

.child:hover {
  background: linear-gradient(to right, rgb(90, 255, 90), rgb(6, 182, 6));
}
.form {
  z-index: 10;
  width: 30%;
  height: 70%;
  left: 475px;
  bottom: 90px;
  position: fixed;
  background-color: #000000;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 2px 2px 10px gray;
  overflow: hidden;
}
.form h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: rgb(161, 161, 161);
}
.form .firstInput {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form .secondInput {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  background-color: transparent;
  border: 1px solid #444444;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgb(73, 73, 73);
  height: 38px;
  width: 98%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
}
label {
  color:#8b8b8b;
  font-family: sans-serif;
  position: absolute;
  top: 11px;
  left: 12px;
  pointer-events: none;
  transition: all ease-in-out 0.5s;
}
.input:focus + label,
.input:not(:placeholder-shown) + label{
  transform: translateY(-18px);
  font-size: 14px;
  color: #868686;
  background-color: #000000;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.links .rightLink {
  padding: 20px 2px 20px 20px;
}
.leftLink {
  padding: 20px 20px 20px 2px;
}
.links a {
  text-decoration: none;
  color: #444444;
  user-select: none;
  transition: all ease-in-out 0.5s;
}
.links a:hover {
  cursor: pointer;
  color: #ffffff;
}
.btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn {
  transition: all ease-in-out 0.5s;
  background-color: #0f0f0f;
  color: #6e6e6e;
}
#btn:hover {
  cursor: pointer;
  background-color: #000000;
}

.line {
  height: 100%;
  position: absolute;
  background-color: #000000;
  z-index: 10;
  width: 60px;
  left: 0;
}
.line2 {
  height: 100%;
  position: absolute;
  background-color: #000000;
  width: 60px;
  right: 0;
}
@media screen and (max-width: 1350px) {
  .form {
    height: 80%;
    top: 55px;
    right: 50%;
    left: 35%;
  }
  .child {
    min-height: 50px;
    min-width: 50px;
  }
  .line2 {
    height: 100%;
    position: absolute;
    background-color: #000000;
    min-width: 53px;
    right: 0;
  }
  .line {
    height: 100%;
    position: absolute;
    background-color: #000000;
    left: 0;
  }
  @keyframes anim {
    0% {
      transform: translate(0px);
    }
    100% {
      transform: translate(54px);
    }
  }
}

@media screen and (max-width: 828px) {
  .links {
    display: block;
    margin-top: 20px;
    height: 80px;
  }
  .rightLink {
    height: 0px;
    padding: 0px;
    margin-left: -19px;
  }
  .form {
    min-width: 40%;
    left: 32%;
  }
  .main {
    background: radial-gradient(
      circle,
      rgb(9, 255, 0),
      rgba(25, 0, 255, 0.699)
    );
  }
}

@media screen and (max-width: 650px) {
  .form {
    min-width: 60%;
    left: 20%;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgb(119, 118, 119);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(9px);
  }
}
@media screen and (max-width: 432px) {
  .form {
    min-width: 72%;
    left: 14%;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgb(119, 118, 119);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(9px);
  }
  .main {
    background: radial-gradient(
      circle,
      rgb(115, 255, 0),
      rgb(25, 0, 255),
      rgb(0, 255, 115),
      rgb(104, 36, 36)
    );
  }
}
@media screen and (max-width: 350px) {
  .form {
    min-width: 100%;
    left: 0;
  }
  .main {
    background: radial-gradient(
      circle,
      rgb(72, 255, 0),
      rgb(180, 55, 174),
      rgb(0, 255, 242),
      rgb(2, 2, 2)
    );
  }
}
